@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

/* --HEADER--START-------------------------------------------------------------------------------------- */

.logo{
    text-align: center;
}

h1{
    font-size: 4rem;
    color: black;
    text-align: center;
    font-weight: 300;
}
h6{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}
.capital{
    text-transform: uppercase;
}
.italic{
    font-style: italic;
}
.font-type{
    font-family: 'Cairo', sans-serif;
}
.menu-item{
    height: 120px;
    text-align: center;
    padding-top: 40px;
}

.li-home-color{
    background-color: rgb(122, 47, 151);
    margin: 0;
}
.li-about-color{
    background-color: rgb(43, 116, 43);
}
.li-contact-color{
    background-color: rgb(145, 128, 36);
    margin: 0;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
#nav{
    font-size: 0;
    margin: 0;
}

.menu-item .menu-link{
    font-size: 24px;
    
}

ul li i{
    font-size: 24px;

}

.row {
    --bs-gutter-x: 0;
}
.fa:hover , a:hover, menu-link:hover, .fab:hover {
            color: tomato;         
}

.fab {
    color: ghostwhite;
}
/* media screen billboard */
@media screen and (max-width:500px){
    h1{font-size: 3rem;
        font-weight: 400;
    }
    h6{ font-size: 1rem;}
    .menu-item{
    height: 80px;
    text-align: center;
    padding-top: 20px;
}
}

@media screen and (max-width:350px){
    h1{font-size: 2rem;
    font-weight: 400;
    }
    h6{ font-size: 0.8rem;}
}

/* --HEADER--END------------------------------------------------------------------ */

/* ====Main Srart================================================================= */
.billboard img{
    width: 100%;
    /* object-fit: fill; */
}

/* ++ FOOTER++START+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer{
    margin: 0;
    font-family:cairo , sans-serif ;
}
.foot-wrapper{
    padding: 8px;
    background-color: #9f9f9f;
}
.ft-color{
    background-color: #555555;
    color: whitesmoke;
    padding-top:10px;
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
}
 .fab{
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: whitesmoke; 
    
}
li a .fab{
    letter-spacing: 20px;
}

.fab:hover{
    color:tomato;
    font-size: 26px;
}
.foot-wrapper h5{
      color: whitesmoke;
}
.foot-wrapper h5:hover{
    color:tomato;
}
/* --About.html--Start----------------------------------------------------------------------------- */
.about-pg{
    width: 100%;
    position: relative;
    overflow: auto;
    /* border: 3px dashed greenyellow; */
}

.about-pg p {
    color: blue;
    padding: 15px 15px;
    position: relative;
    z-index: 1;
    text-align: justify;
    font-weight: 600;
}
.about-pg h5{
    position: relative;
    padding: 0 10px 10px 10px;
    z-index: 1;
    text-align: center;
}
.about-pg img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.1;
}
@media  screen and (min-width:721px){
    .about-pg p{
        padding: 30px 150px;
    }
    .about-pg h5{
        padding: 0 150px 50px 150px;
    }
}

/* --About.html--Ends------------------------------------------------------------------------------ */

/* ===Contact Info-Start=========================================================================== */
.contact-info{
    font-family: cairo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding-top: 40px;
}
.contact-info-item .info-name h3{
    font-family: cairo, sans-serif;
}

.contact-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}
.contact-info-item .info-name,
.contact-info-item .info-data{
    display: inline-block;
    padding-right: 8px;
}
.contact-info-item .info-name p,
.contact-info-item .info-data p{
    margin: 0;
}

.contact-info-item .info-name{
    width: 30%;
    margin-right: 20px;
    vertical-align: top;
}
.contact-info-item .info-data{
    width: 50%;
}
.contact-info-heading{
    margin:0 30px;
}


/* ===Contact Info - End=========================================================================== */
