@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

/* --HEADER--START---------------------------------------------------------- */

nav{
    border: 10px solid #9f9f9f;
}
nav .navbar-brand{
    font-family: cairo, sans-serif;
}
.capital{
    text-transform: uppercase;
}
.ltr-space{
    letter-spacing: 4px;
}
.navbar-set {
    font-family: cairo, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    background-color: #555555;
    color: whitesmoke;
    padding-left:30px ;
    line-height: 3rem;
    margin: 0;
}

.shoplogo{
    font-size: 42px;
}

h1{
    font-size: 4rem;
    color: black;
    text-align: center;
    font-weight: 300;
}

.capital{
    text-transform: uppercase;
}

/* --HEADER--END------------------------------------------------------------- */

/* =Hero Image====and banner pics============================================ */
.billboard img{
    width: 100%;
}
.bnr-pic-bg{
    background-color: #9f9f9f;
}

/* ++ FOOTER++START++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer{
    margin: 0;
    font-family:cairo , sans-serif ;
}
.foot-wrapper{
    padding: 8px;
    background-color: #9f9f9f;
}
.ft-color{
    background-color: #555555;
    color: whitesmoke;
    padding-top:10px;
    border: 1px solid whitesmoke;
    letter-spacing: 2px;
}
 .fab{
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: whitesmoke;
}
li a .fab{
    letter-spacing: 20px;
}

.fab:hover{
    color:tomato;
    font-size: 26px;
}
.foot-wrapper h5{
      color: whitesmoke;
}
.foot-wrapper h5:hover,
.foot-wrapper a{
    color:tomato;
}
/* --About.html--Start---------------------------------------------------------- */
.about-pg{
    width: 100%;
    position: relative;
    overflow: auto;
    /* border: 3px dashed greenyellow; */
}

.about-pg p {
    color: blue;
    padding: 15px 15px;
    position: relative;
    z-index: 1;
    text-align: justify;
    font-weight: 600;
}
.about-pg h5{
    position: relative;
    padding: 0 10px 10px 10px;
    z-index: 1;
    text-align: center;
}
.about-pg img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.1;
}
@media  screen and (min-width:721px){
    .about-pg p{
        padding: 30px 150px;
    }
    .about-pg h5{
        padding: 0 150px 50px 150px;
    }
}

/* --About.html--Ends----------------------------------------------------------- */

/* Contact Info-Start======================================================== */
.contact-border{
    border: 1px solid lavender;
}
.contact-info{
    font-family: cairo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding-top: 40px;
}
.contact-info-item .info-name h3{
    font-family: cairo, sans-serif;
}

.contact-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}
.contact-info-item .info-name,
.contact-info-item .info-data{
    display: inline-block;
    padding-right: 8px;
}
.contact-info-item .info-name p,
.contact-info-item .info-data p{
    margin: 0;
}

.contact-info-item .info-name{
    width: 30%;
    margin-right: 20px;
    vertical-align: top;
    clear: both;
}
.contact-info-item .info-data{
    width: 50%;
}
.contact-info-heading{
    margin:0 5%;
    padding-left: 10%;
    
}
button[type="submit"]{
    margin-bottom: 25px;
    margin-top: 0;
    border-radius: 25%;
    background-color: tomato;
}


/* ===Contact Info End====================================================== */
 /* --feedback form Start------------------------------------------------- */

 .feedback-form{
     margin-left:  15%;
     margin-right: 5%;
     clear: both;
     width: 75%;
 }
 .feedback-form h6{
     font-family: cairo, sans-serif;
     padding-top: 40px;
 }

 .feedback-form input,
 .feedback-form textarea{
     width: 100%;
     clear: both;
     margin-bottom: 10px;
 }
 .feedback-form label{
     margin: 0;
 }


 /* --feedback form End------------------------------------------------------------------------- */
 /* --Home Page Pics Start--------------------------------------------- */
  .home-pics img{
      width: 100%;
  }
  .sub-pg-links {
      text-decoration: none;
      text-align: center;
      background-color: #555555;
      border: 2px solid #9f9f9f;
  }
  .sub-pg-links a {
      color: whitesmoke;
      font-size: x-large;
      font-family: cairo, sans-serif;
  }
  .sub-pg-links a:hover{
      color: tomato;
      }
      .intro{
          background-color: #555555;
          color: whitesmoke;
         
      }
      .intro-set{
          padding:50px 30px;
          text-align: center;
           border:10px solid #9f9f9f;
      }
      .intro-set h1{
          font-family: cairo, sans-serif;
          font-weight: 300;
          color: whitesmoke;
      }
      .intro-set p{
          font-size: 20px;
          font-family: cairo, sans-serif;
          color: whitesmoke;
      }
      .img-border{
          border:10px solid #9f9f9f;
      }

     
 /* --Home Page PicsEnd------------------------------------------------------ */

 /* ----Spice and Herbs Pic ------------------------------------------------ */
 .spices-pics img{
     width: 100%;
 }
 .pics-set{
     background-color: #555555;
     color: whitesmoke;
     text-align: center;
 }
 
 .offer{
     font-family: cairo,sans-serif;
     text-align: center;
     border-bottom: 20px solid #555555;
     background-color: gainsboro;
     width: 100%;
     
 }

 .offer h2{
     margin: 0;
     color: rgb(10, 12, 136);
     padding: 20px 50px 20px 50px;
     font-weight: 100;
     font-style: italic;
 }